PORT = 3001

# Docker Configuration
POSTGRES_USER = admin
POSTGRES_PASSWORD = password
POSTGRES_DB = mydatabase
PGADMIN_EMAIL = admin@xsam.in
PGADMIN_PASSWORD = password
REDIS_PASSWORD = password


# CORS
CORS_ORIGIN = "http://localhost:5173"


# JWT Configuration
JWT_SECRET_KEY = "change-me-to-a-secure-random-string"

# Database Configuration
PG_DATABASE_URL="postgresql://admin:password@localhost:5432/reserve"


# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY = "sdghiusdfvusdf="
IMAGEKIT_PRIVATE_KEY = "prsidhvusdvuisdvui/M="
IMAGEKIT_URL_ENDPOINT = "https://ik.imagekit.io/xsamdotin"



# Mailing Configuration
RESEND_API_KEY = "wioddgbcuigvfuiegvui"